@each $name, $color in $utility-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .border-#{$name} {
    border-color: $color !important;
  }

  .color-#{$name} {
    color: $color !important;
  }

  .color-icon-#{$name} {
    &::before,
    &::after {
      background-color: $color !important;
    }
  }
}

.bg-color-current {
  background-color: currentColor !important;
}

.fill-color-current {
  fill: currentColor !important;
}
