$text-xs: 0.75rem; //12px
$text-sm: 0.875rem; //14px
$text-default: 1rem; // 16px
$text-md: 1.25rem; //20px
$text-lg: 1.5rem; //24px
$text-xl: 2rem; //32px
$text-xxl: 2.25rem; //40px
$text-xxxl: 3rem; //48px

$text-icon-xxs: 0.75rem; //12px
$text-icon-xs: 0.875rem; //14px
$text-icon-sm: 1rem; //16px
$text-icon-default: 1.25rem; //20px
$text-icon-md: 1.5rem; //24px
$text-icon-lg: 2rem; //32px
$text-icon-xl: 3rem; //48px
$text-icon-xxl: 4rem; //64px

$line-height-sm: 0.875rem; //14px
$line-height-md: 1.25rem; //20px
$line-height-lg: 1.875rem; //30px
$line-height-xl: 3.75rem; //60px

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$font-main: "DINNextW01-CondensedRegular";

/* $font-eci: "ECIFontRegular", sans-serif;
$font-eci-light: "ECIFontLight", sans-serif;
$font-eci-medium: "ECIFontMedium", sans-serif;

$font-lato: "Lato", sans-serif;
$font-lato-light: "Lato Light", sans-serif;
$font-lato-bold: "Lato Bold", sans-serif;

$font-main: $font-eci; */
