@import url(//db.onlinewebfonts.com/c/9d097da6a9a781eb3dbfd8fe6cab0066?family=DINNextW01-CondensedRegular);

@font-face {
  font-family: "DINNextW01-CondensedRegular";
  src: url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.eot");
  src: url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9d097da6a9a781eb3dbfd8fe6cab0066.svg#DINNextW01-CondensedRegular")
      format("svg");
}
